<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body
        {
            background-color: aqua;
            color: antiquewhite;
        }
    </style>
</head>
<body>
    <center>
        <h1>delete selected object</h1>
        <form method="POST">
            {% csrf_token %}

            <input type="submit" value="yes i am sure delete">
        </form>
        <a href="{% url  'detail' pk=DSO.pk %}">take me to detailView</a>
        <a href="{% url 'school_list' %}">take me to listView</a>
    </center>
</body>
</html>
