<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body
        {
            background-color: aqua;
            color: antiquewhite;
        }
    </style>
</head>
<body>
    <center>
        <h1>This is school list</h1>
        {% for school in allso %}
            <a href="{{school.pk}}"><h1>{{school.Scname}}</h1></a>

        {% endfor %}
    </center>
</body>
</html>
